PORT=3005
OTP_SECRET=super-secret-key
OTP_TTL=300
INBOUND_WEBHOOK_URL=http://localhost:3005/webhook/wa

INBOUND_WEBHOOK_SECRET=secret123


OPENAI_API_KEY=open_api_key
BRAND_NAME=LazimPay
COOLDOWN_MS=8000
MAX_HISTORY=10
# CREATE USER cs_ai_user WITH PASSWORD 'Rahasia1989';
DATABASE_URL="postgresql://postgres:Rahasia1989@localhost:5432/cs_ai?schema=public"
# DATABASE_URL="postgresql://cs_ai_user:Rahasia1989@localhost:5432/cs_ai?schema=public"
NODE_ENV=development
SUMMARY_WINDOW_MESSAGES=10
SUMMARY_IDLE_MINUTES=5
USE_DUMMY_MAIN_API=false


TELEGRAM_BOT_TOKEN=8265235175:AAGx90cOjYqMReCC2WaRt-JawrvhPfRU8DI
TELEGRAM_WEBHOOK_SECRET=telegram-secret

# Server utama (status transaksi + data CS supplier)
# MAIN_API_URL=https://serpul.lazimpay.com
MAIN_API_URL=https://serpul.lazimpay.com
# MAIN_API_KEY=server_utama_token
# MAIN_API_URL=http://localhost:3002
CS_AI_PUBLIC_KEY=cs-ai-001
CS_AI_SECRET=super-secret-key-untuk-cs-ai
CS_AI_MAX_SKEW=300



# WA API internal (untuk kirim pesan)
# WA_API_BASE=http://localhost:3005
WA_DEFAULT_SESSION=pc


